{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to IoT Lab.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="{% static 'img/a7.jpg' %}">
                                </a>
                                <div class="media-body">
                                    <small class="float-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="{% static 'img/a4.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="{% static 'img/profile.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html" class="dropdown-item">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="profile.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="float-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="grid_options.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html" class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="{% url 'green:logout' %}">
                        <i class="fa fa-sign-out"></i> 退出
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>{{ active_submenu }}</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'green:index' %}">主页</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>{{ active_main_menu }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>{{ active_submenu }}</strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>{{ active_submenu }}</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#" class="dropdown-item">Config option 1</a>
                                    </li>
                                    <li><a href="#" class="dropdown-item">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group row"><label class="col-sm-2 col-form-label">所属类型</label>
                                <div class="col-sm-10"><select id="filter2" class="form-control m-b" id="belongto_type_select" name="belongto_type">
                                    <option value="">请选择</option>
                                    <option>花架</option>
                                    <option>温室</option>
                                </select>
                                </div>
                            </div>

                            <div class="form-group row"><label class="col-sm-2 col-form-label">所属目标</label>
                                <div class="col-sm-10"><select id="filter3" class="form-control m-b" name="belongto_id">
                                    {# 该下拉框中的选项由上一个下拉框中的值决定 #}
                                </select>
                                </div>
                            </div>

                            <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                                   placeholder="在表中搜索">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="100" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">设备编号</th>
                                    <th>设备名称</th>
                                    <th>所属</th>
                                    <th data-hide="all">添加时间</th>
                                    <th data-hide="all">控制方式</th>
                                    <th data-hide="all">当前状态</th>
                                    <th>是否在线</th>
                                    <th>设备管理</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for relay in relays_list %}
                                    <tr>
                                    <td>{{ relay.relay_num }}</td>
                                    <td>{{ relay.relay_name }}</td>
                                    <td>
                                        {% if relay.belongto_type == 1 %}
                                            {% with relay.belong_to_shelf_or_room as shelf %}
                                                {% with shelf.belongto_room as room %}
                                                    {{ room.city }}{{ room.area }}-{{ room.room_name }}{{ shelf.name }}
                                                {% endwith %}
                                            {% endwith %}
                                        {% elif relay.belongto_type == 2 %}
                                            {% with relay.belong_to_shelf_or_room as room %}
                                                {{ room.city }}{{ room.area }}-{{ room.room_name }}
                                            {% endwith %}
                                         {% else %}
                                            暂未关联
                                        {% endif %}
                                    </td>
                                    <td>{{ relay.created_datetime }}</td>
                                    {% if relay.device_type == 1 %}
                                        <td>数值控制</td>
                                        <td><form method="post" class="form-inline" role="form" action="{% url 'relays:adapt_the_relay' relay.id %}">{% csrf_token %}<input type="text" class="form-control" required name="status" value="{{ relay.status }}"><button class="btn btn-primary btn-sm" type="submit">确定</button></form></td>
                                    {% else %}
                                        <td>开关控制</td>
                                        <td><a style="color: #1faf8f" href="{% url 'relays:adapt_the_relay' relay.id %}">
                                        {% if relay.status == 1 %}
                                            打开
                                         {% else %}
                                            关闭
                                        {% endif %}
                                        </a></td>
                                    {% endif %}
                                    <td><a href="#">{% if relay.is_online == 1 %}
                                        <i class="fa fa-check text-navy"></i>
                                        {% else %}
                                        <i class="fa fa-times text-danger"></i>
                                    {% endif %}</a></td>
                                        <td><a style="color: #1faf8f" href="{% url 'relays:modify_the_relay' relay.id %}">修改</a>|<a style="color: #1faf8f" href="{% url 'relays:delete_the_relay' relay.id %}">删除</a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                智能植物工厂管理系统
            </div>
            <div>
                <strong>Copyright</strong> 浙江大学城市学院 杭州市物联网技术与应用重点实验室 &copy; 2019
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>
    <script type="text/javascript">
        var shelf = '{% for shelf in shelves %}\n'+
                '                                            {% with shelf.belongto_room as room %}\n'+
                    '                                                <option value="{{ room.city }}{{ room.area }}-{{ room.room_name }}{{ shelf.name }}">{{ room.city }}{{ room.area }}-{{ room.room_name }}{{ shelf.name }}({{ shelf.sensors_count }},{{ shelf.relays_count }})</option>\n'
                    +
                    '                                            {% endwith %}\n'+
                '                                        {% endfor %}';
        var room = '{% for room in rooms %}\n'+
                    '                                            <option value="{{ room.city }}{{ room.area }}-{{ room.room_name }}">{{ room.city }}{{ room.area }}-{{ room.room_name }}({{ room.sensors_count }},{{ room.relays_count }})</option>\n'
                    +
                    '                                        {% endfor %}';

        $('#filter2').change(function(){
            $('table tbody tr').hide().filter(":contains('"+($(this).val())+"')").show();
            var select_content = '<option value="">请选择</option>';
            if ($('#filter2').val() == "花架") {
                select_content += shelf
            }
            else if ($('#filter2').val() == "温室") {
                select_content += room
            }
            $('#filter3').html("");
            $('#filter3').html(select_content)
        });

        $('#filter3').change(function(){
            $('table tbody tr').hide().filter(":contains('"+($(this).val())+"')").show();
        });
    </script>
{% endblock %}