{% extends "green/base.html" %}

{% block branding %}

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="img/profile_small.jpg" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fa fa-home"></i> <span class="nav-label">温室</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="index.html">温室列表</a></li>
                            <li><a href="dashboard_2.html">添加新温室</a></li>
                            <li><a href="dashboard_3.html">新设备发现</a></li>
                            <li><a href="dashboard_4_1.html">温室最新概况</a></li>
                            <li><a href="dashboard_5.html">全局温室预览<span class="label label-primary pull-right">NEW</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">花架</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="graph_flot.html">花架列表</a></li>
                            <li><a href="graph_morris.html">添加新花架</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailbox.html"><i class="fa fa-magic"></i> <span class="nav-label">传感器</span><span class="label label-warning pull-right">16/24</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="mailbox.html">传感器列表</a></li>
                            <li><a href="mail_detail.html">传感器类型设置</a></li>
                            <li><a href="mail_compose.html">添加新的传感器类型</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa-laptop"></i> <span class="nav-label">控制器</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="form_basic.html">控制器列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa-tint"></i> <span class="nav-label">水肥设备</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="contacts.html">水肥设备列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa-star"></i> <span class="nav-label">自动控制</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="search_results.html">规则列表</a></li>
                            <li><a href="lockscreen.html">添加新规则</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html#"><i class="fa fa-wrench"></i> <span class="nav-label">系统设置</span><span class="label label-info pull-right">NEW</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="toastr_notifications.html">个人信息</a></li>
                            <li><a href="nestable_list.html">退出</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

{% endblock %}