{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top gray-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#" id="menu_hidden"><i
                            class="fa fa-bars"></i>
                    </a>
                    <form method="post" class="navbar-form-custom form-inline" role="search" id="select_form"
                          action="{% url 'green:index' %}">
                        {% csrf_token %}
                        <div class="form-group col-8">
                            <select class="form-control col-10" required name="room_num" id="top-search"
                                    onchange="func(this.value)">
                                <option value="">请选择</option>
                                <option value="01" {% if active_submenu == "水培温室" %}
                                        selected="selected"
                                {% endif %}>水培温室
                                </option>
                                <option value="02" {% if active_submenu == "基质培温室" %}
                                        selected="selected"
                                {% endif %}>基质培温室
                                </option>
                            </select>
                        </div>
                    </form>
                    <form method="post" class="navbar-form-custom form-inline" role="search" id="select_form2"
                          action="{% url 'green:index2' %}">
                        {% csrf_token %}
                        <div class="form-group col-8">
                            <select class="form-control col-10" required name="shelf_id" id="top-search"
                                    onchange="func2(this.value)">
                                <option value="">请选择</option>
                                {% for shelf in shelves_list %}
                                    <option value="{{ shelf.id }}">{{ room.city }}{{ room.area }}-{{ room.room_name }}{{ shelf.name }}({{ shelf.sensors_count }},{{ shelf.relays_count }})</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">欢迎来到智能植物工厂</span>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    <a class="dropdown-item float-left" href="profile.html">
                                        <img alt="image" class="rounded-circle" src="{% static 'img/a7.jpg' %}">
                                    </a>
                                    <div class="media-body">
                                        <small class="float-right">46h ago</small>
                                        <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>.
                                        <br>
                                        <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a class="dropdown-item float-left" href="profile.html">
                                        <img alt="image" class="rounded-circle" src="{% static 'img/a4.jpg' %}">
                                    </a>
                                    <div class="media-body ">
                                        <small class="float-right text-navy">5h ago</small>
                                        <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica
                                        Smith</strong>. <br>
                                        <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    <a class="dropdown-item float-left" href="profile.html">
                                        <img alt="image" class="rounded-circle" src="{% static 'img/profile.jpg' %}">
                                    </a>
                                    <div class="media-body ">
                                        <small class="float-right">23h ago</small>
                                        <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="mailbox.html" class="dropdown-item">
                                        <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="mailbox.html" class="dropdown-item">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                        <span class="float-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="profile.html" class="dropdown-item">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="float-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="grid_options.html" class="dropdown-item">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="float-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <div class="text-center link-block">
                                    <a href="notifications.html" class="dropdown-item">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="{% url 'green:logout' %}">
                            <i class="fa fa-sign-out"></i> 退出
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-success float-right">当前</span>
                            <h5>空气温度</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ data_record_temperature_latest.sensor_value }}℃</h1>
                            <div class="stat-percent font-bold text-success">{{ data_record_temperature_latest.collect_datetime }} </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-info float-right">当前</span>
                            <h5>空气湿度</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ data_record_humidity_latest.sensor_value }}%<span
                                    class="pie">{{ data_record_humidity_latest.sensor_value }}/100</span></h1>
                            <div class="stat-percent font-bold text-info">{{ data_record_humidity_latest.collect_datetime }} </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-primary float-right">当前</span>
                            <h5>二氧化碳</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ data_record_co2_latest.sensor_value }}ppm</h1>
                            <div class="stat-percent font-bold text-navy">{{ data_record_co2_latest.collect_datetime }} </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-danger float-right">当前</span>
                            <h5>花架数量</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{ room.shelves_count }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="tabs-container white-bg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab"> 空气温度</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div id="morris-temperature-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <figure class="col-lg-12">
                        {% if room.room_num == '01' %}
                            <iframe
                                    src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/D59183521/4.live&autoplay=1&audio=1&accessToken={{ access_token }}"
                                    width="600"
                                    height="400"
                                    id="ysopen"
                                    allowfullscreen
                            >
                            </iframe>
                        {% else %}
                            <iframe
                                    src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/D59183521/5.live&autoplay=1&audio=1&accessToken={{ access_token }}"
                                    width="600"
                                    height="400"
                                    id="ysopen"
                                    allowfullscreen
                            >
                            </iframe>
                        {% endif %}
                    </figure>
                </div>
                <div class="col-lg-4">
                    <div class="tabs-container white-bg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab"> 二氧化碳</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div id="morris-co2-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="tabs-container white-bg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab"> 空气湿度</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div id="morris-humidity-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <figure class="col-lg-12">
                        {% if room.room_num == '01' %}
                            <iframe
                                    src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/D59183521/3.live&autoplay=1&audio=1&accessToken={{ access_token }}"
                                    width="600"
                                    height="400"
                                    id="ysopen"
                                    allowfullscreen
                            >
                            </iframe>
                        {% else %}
                            <iframe
                                    src="https://open.ys7.com/ezopen/h5/iframe?url=ezopen://open.ys7.com/D59183521/2.live&autoplay=1&audio=1&accessToken={{ access_token }}"
                                    width="600"
                                    height="400"
                                    id="ysopen1"
                                    allowfullscreen
                            >
                            </iframe>
                        {% endif %}
                    </figure>
                </div>

                <div class="col-lg-4">
                    <div class="tabs-container white-bg">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab"> 天气</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row m-t-lg">
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <h2>Word map</h2>
                        <small>This is simple example of map</small>
                        <div id="world-map" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer gray-bg">
            <div class="pull-right">
                智能植物工厂管理系统
            </div>
            <div>
                <strong>Copyright</strong> 浙江大学城市学院 杭州市物联网技术与应用重点实验室 &copy; 2019
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        function func(value) {
            if (value != ''){
                $('#select_form').submit();
            }
        }

        function func2(value) {
            if (value != ''){
                $('#select_form2').submit()
            }
        }

        $(function () {

            var data_record_temperature = [
                {% for data in data_record_temperature %}
                    {time: '{{ data.collect_datetime }}', value: {{ data.sensor_value }}},
                {% endfor %}
            ];
            Morris.Line({
                element: 'morris-temperature-chart',
                data: data_record_temperature.reverse(),
                xkey: 'time',
                ykeys: ['value'],
                resize: true,
                lineWidth: 4,
                labels: ['温度'],
                hideHover: true,
                lineColors: ['#ff9131'],
                pointSize: 5,
                units: '℃',
                xLabels: "15min",
            });


            var data_record_co2 = [
                {% for data in data_record_co2 %}
                    {time: '{{ data.collect_datetime }}', value: {{ data.sensor_value }}},
                {% endfor %}
            ];
            Morris.Bar({
                element: 'morris-co2-chart',
                data: data_record_co2.reverse(),
                xkey: 'time',
                ykeys: ['value'],
                resize: true,
                lineWidth: 4,
                labels: ['二氧化碳'],
                barColors: ['#1365e3'],
                units: 'ppm',
            });


            var data_record_humidity = [
                {% for data in data_record_humidity %}
                    {time: '{{ data.collect_datetime }}', value: {{ data.sensor_value }}},
                {% endfor %}
            ];
            Morris.Bar({
                element: 'morris-humidity-chart',
                data: data_record_humidity.reverse(),
                xkey: 'time',
                ykeys: ['value'],
                resize: true,
                lineWidth: 4,
                labels: ['湿度'],
                barColors: ['#1ab394'],
                units: '%',
            });

            Morris.Line({
                element: 'morris-area-chart',
                data: [
                    {time: '2019-11-17 10:54:01', value: 21.0},
                    {time: '2019-11-17 11:09:01', value: 22.5},
                    {time: '2019-11-17 11:24:01', value: 21.3},
                    {time: '2019-11-17 11:39:01', value: 22.8},
                    {time: '2019-11-17 11:50:01', value: 21.8},
                    {time: '2019-11-17 12:05:01', value: 21.7},
                    {time: '2019-11-17 12:17:01', value: 21.0},
                    {time: '2019-11-17 12:29:01', value: 22.6},
                    {time: '2019-11-17 12:42:01', value: 22.0},
                    {time: '2019-11-17 13:00:01', value: 21.6}
                ],
                xkey: 'time',
                ykeys: ['value'],
                resize: true,
                lineWidth: 4,
                labels: ['天气'],
                lineColors: ['#1ab394'],
                pointSize: 5,
                units: '℃',
            });

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff'],
                width: 30,
                height: 30,
            });


            var mapData = {
                "CN-33": 498,
            };

            $('#world-map').vectorMap({
                map: 'cn_mill',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 1,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },
                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },

            });
        });

        $(document).ready(function() {
            $('.footable').footable();
        });
    </script>

{% endblock %}